.menu li {
    display: inline;
    margin: 1rem;
    font-size: 2rem;
}

.menu a {
    /* color: yellow; */
}

@media (max-width: 600px) {
    .menu li {
        display: block;
        font-size: 1rem;
        margin: 0.5rem;
    }
    .menu a {
        float: right;
    }
}
